@import "tailwindcss";

.icon-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.input {
  background-color: #b69dee;
  border-radius: 0.25rem;
  margin-left: 0.25rem;
  padding-left: 5px;
  padding-right: 5px;
}

.image {
  width: 100%;
  border-radius: 0.25rem;
  border-width: 7px;
  border-color: #260077;
}

.filter {
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  border-width: 3px;
  border-color: #260077;
  background-color: #5a33ad;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-top: 4px;
  /* font-weight: 500;
  line-height: 1.75rem; 
  font-size: 1.25rem;  */
}

.btn-state {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  border-width: 3px;
  border-color: #361c6d;
  background-color: #d0c4eb;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: #260077;
  cursor: pointer;
  width: fit-content;
  gap: 0.75rem;
}

.btn-state:hover {
  background-color: #a98beb;
}

.btn-state:active {
  background-color: #5a33ad;
}

.btn-back {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  border-width: 3px;
  border-color: #737373;
  background-color: #d4d4d4;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: black;
  cursor: pointer;
  width: fit-content;
}

.btn-back:hover {
  background-color: #a3a3a3;
}

.btn-back:active {
  background-color: #525252;
  border-color: #525252;
}

.btn-confirm {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: fit-content;
  border-radius: 1rem;
  border-width: 3px;
  border-color: #260077;
  background-color: white;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: #260077;
}

.btn-confirm:hover {
  border-color: #7251ba;
  background-color: #a78ede;
}

.btn-confirm:active {
  border-color: #737373;
  background-color: #737373;
}

.instruction {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  border-width: 4px;
  border-color: #260077;
  background-color: #d0c4eb;
  margin-right: 4px;
  margin-left: 4px;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
}

.text {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.bg-color {
  background-color: #f1cda3;
}
